@model BarberShopManagementSystem.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
}

<h2 class="text-center mb-4 text-danger">Confirm Deletion</h2>

<div class="card shadow p-4">
    <h4 class="text-primary">Employee Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-3">Surname</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Surname)</dd>

        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt class="col-sm-3">Salon</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Salon.Address)</dd>

        <dt class="col-sm-3">Expert Service</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ExpertService.Name)</dd>

        <dt class="col-sm-3">Work Days</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.WorkDays)</dd>
    </dl>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>
