@model BarberShopManagementSystem.Models.Service

@{
    ViewData["Title"] = "Hizmet Sil";
}

<div class="container mt-5">
    <h1 class="text-center text-danger mb-4">Hizmet Sil</h1>

    <h3 class="text-center">Bu hizmeti silmek istediğinize emin misiniz?</h3>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4 class="mt-3">Hizmet Bilgileri</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price, "{0:C}")
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Duration)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Duration) dakika
                </dd>
            </dl>

            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-danger">Hizmeti Sil</button>
                    <a asp-action="Index" class="btn btn-secondary ml-2">Listeye Geri Dön</a>
                </div>
            </form>
        </div>
    </div>
</div>
