@model BarberShopManagementSystem.Models.Salon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>
    </dl>
</div>
<div>
    <h3>Services Offered</h3>
    @if (Model.Services != null && Model.Services.Any())
    {
        <ul>
            @foreach (var service in Model.Services)
            {
                <li>@service.Name - @service.Price.ToString("C") (@service.Duration minutes)</li>
            }
        </ul>
    }
    else
    {
        <p>No services are associated with this salon.</p>
    }
</div>
<div>
    <h3>Assigned Employees</h3>
    @if (Model.Employees != null && Model.Employees.Any())
    {
        <ul>
            @foreach (var employee in Model.Employees)
            {
                <li>@employee.Name @employee.Surname</li>
            }
        </ul>
    }
    else
    {
        <p>No employees are associated with this salon.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
