@model IEnumerable<BarberShopManagementSystem.Models.Appointment>

<h1>@ViewBag.CustomerName - Randevular</h1>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Çalışan</th>
            <th>Hizmet</th>
            <th>Ücret</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Date.ToString("g")</td>
                <td>@appointment.Employee?.Name</td>
                <td>@appointment.Service</td>
                <td>@appointment.Price</td>
            </tr>
        }
    </tbody>
</table>
