@model BarberShopManagementSystem.Models.Appointment

<h1>Yeni Randevu Oluştur</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Date">Tarih:</label>
        <input asp-for="Date" type="datetime-local" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="EmployeeId">Çalışan:</label>
        <select asp-for="EmployeeId" class="form-control">
            <option value="">Bir çalışan seçin</option>
            @foreach (var employee in ViewBag.Employees)
            {
                <option value="@employee.Id">@employee.Name</option>
            }
        </select>
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Service">Hizmet:</label>
        <input asp-for="Service" class="form-control" />
        <span asp-validation-for="Service" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label for="Price">Ücret:</label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="CustomerId">Müşteri:</label>
        <select asp-for="CustomerId" class="form-control">
            <option value="">Bir müşteri seçin</option>
            @foreach (var customer in ViewBag.Customers)
            {
                <option value="@customer.Id">@customer.Name</option>
            }
        </select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success mt-3">Kaydet</button>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

</form>
